<div id="primary_data">

    <div>
        {% if error is defined %}
        {{ error }}
        {% endif %}
    </div>

    
        <form id="active_list_add_item" action="" method="">

            <div class="row">
                <label class="col" for="item_to_add">Add an item to your list:</label>
            </div>
            
            <div class="row">

            
                <div class="col">
                    <input list="item" id="item_to_add" name="item_to_add" autocomplete="off" 
                    onkeydown="submit_ios_fix(event);" />
                </div>
                

                
                <datalist id="item" name="item">
                    {% for row in users_items %}
                    <option value="{{ row['item_name'] }}"></option>
                    {% endfor %}
                </datalist>

                <div class="col">
                    <label for="quantity">Quantity</label>
                    <input type="number" value="1" name="quantity" id="quantity" style="width: 40px;" onclick="this.select();" pattern="\d*" >
                    <input type="submit" id="item_submit_button" value="Add Item">
                </div>
        </div>

        </form>
        <br>


    

    <div class="row">
        <form id="add_from_group_verification">

            <label for="group_id">Add Recipe:</label>
            <select name="group_id" id="group_id">
                <option value="None" selected disabled>Group</option>
                {% for groups in users_groups %}
                <option value="{{ groups['groups_id'] }}">{{ groups['groups_name'] }}</option>
                {% endfor %}

            </select>
            <input type="submit" value="Add">
        </form>
    </div>

    <!-- <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Dropdown form
        </button>
        <form class="dropdown-menu p-4" id="quick_add_item">
          <div class="mb-3">
            <input type="" name="item_id" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div> -->
    
        <br>
        <div class="row fs-5 fw-bold">
            <div class="col">Item Name</div>
            <div class="col">Recipe</div>
            <div class="col">Quantity</div>
        </div>
        {% for rows in user_active_items %}
        
        <div class="row p-1">
            <div class="col">
                {{ rows['item_name'] }}
            </div>
            <div class="col">
                {% if rows['groups_id'] is not none %}
                {% for group in users_groups %}
                {% if group['groups_id'] == rows['groups_id'] %}



                {{ group['groups_name'] }}

                
                
                {% endif %}
                {% endfor %}
                {% endif %}

            </div>
            <div class="col d-flex">
                <input class="m-1" type="number" inputmode="numeric" onchange="change_quantity(this.id)" onkeyup="change_quantity(this.id)"
                    onclick="this.select();"
                    id="{{ rows['user_active_items_id'] }}" style="width: 40px;"
                    value="{{ rows['active_items_quantity'] }}">

                <form id="active_list_quantity" method="post">
                    <input type="hidden" name="id" value="{{ rows['user_active_items_id'] }}">
                    <input type="hidden" name="value" value="0">
                    <button class="btn btn-danger" type="submit">X</button>
                </form>
            </div>
        </div>
        {% endfor %}
    
</div>