<div id="primary_data">

    <div id="ajax_error_message">
        {% if error is defined %}
        {{ error }}
        {% endif %}
    </div>

    <div class="row">
        <form id="create_item">
            <input type="hidden" name="action" value="new_item">
                <div class="row">
                        <p>Add item</p>
                </div>
                <div class="row">
                    <div class="col"><input type="text" placeholder="Name" autocomplete="off" name="item_name" id="item_name"></div>
                    <script>
                        document.getElementById('item_name').select();
                    </script>
                    <div class="col">
                        <input type="submit" value="Add">
                    </div>
                </div>
        </form>
    </div>

    
    <br>

    <div>

        <form id="change_item_name">
            
            <input type="hidden" name="action" value="change_item_name">
                <div class="row">
                        <div class="col">Rename Item</div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="item_id">Select Item:</label>
                        <select name="item_id" id="item_id">
                            <option value="None" disabled selected>Items</option>

                            {% for row in item %}
                            <option value="{{ row['item_id'] }}">{{ row['item_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="item_new_name">Choose new name</label>
                        <input type="text" id="item_new_name" name="item_new_name" autocomplete="off" placeholder="New Name">
                    </div>
                    <div class="col">
                        <input type="submit">
                    </div>
                </div>


        </form>
    </div>
    <br>
    <div class="row">
                <div class="col">
                    <p class="fs-5 fw-bold">My Items</p>
                </div>

            {% for row in item %}

            <div class="row">
                <div class="col">{{ row['item_name'] }}</div>
                <div class="col">
                    <form id="delete_item">
                        <input type="hidden" name="item_id" id="item_id" value="{{ row['item_id'] }}">
                        <button class="btn btn-danger" type="submit">X</button>
                    </form>
                </div>
            </div>

            {% endfor %}
    </div>

</div>