{% extends "loggedin_template.html" %}



{% block title %}
Account Info
{% endblock %}



{% block main %}
Account page

<div>
    <div>
        
        <div>
            <p>user id: {{ user['user_id'] }}</p>
        </div>
        <div>
            <p>username: {{ user['username'] }}</p>
        </div>
        <div>
            <p>password: *********</p>
        </div>
        <div>
            <p>user email: {{ user['user_email'] }}</p>
        </div>
        <div>
            <p>date created: {{ user['date_created'] }}</p>
        </div>
        <div>
            <p>date last active: {{ user['date_last_active'] }}</p>
        </div>
        
        
        <a href="/edit_account">Edit Account</a>
        <a href="/delete_account">Delete Account</a>
    </div>
</div>

{% endblock %}