{% extends "main_template.html" %}



{% block title %}
MyList Login Page
{% endblock %}


{% block main %}

<div class="bg-primary" style="--bs-bg-opacity: .05; height: 100vh;">

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    
    <div class="container-fluid p-0 m-0">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-8" style="max-width: 650px;">

                <div class="d-none d-sm-block" style="height: 100px;"></div>
                <div class="border rounded-3 shadow-lg bg-white">
                    
                    <div class="p-0 m-0 p-sm-3 m-sm-3 ">

                    <div>
                         <h3>MyList</h3>
                         <br>
                    </div>
        
                    <form action="/login" method="post" class="container-fluid p-0 m-0">
                        <div class="">
                        <input class="form-control" id="username" aria-describedby="Username" type="text" name="username" autocomplete="off" placeholder="Username" autofocus>
                        </div>
                        <br>
                        <div class="mb-3">
                        <input type="password" class="form-control" id="Password" name="password" autocomplete="off" placeholder="Password">
                        </div>
                        <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="/register" class="btn btn-light text-secondary">Create New Account</a>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>



    

    

    <!-- <div>
        <table>
            <form action="/login" method="post">
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="username" autocomplete="off" placeholder="Username" autofocus>
                    </td>
                    <td>
                        <input type="password" name="password" autocomplete="off" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Login">
                    </td>
                    <td>
                        <a href="/register">Register For Account</a>
                    </td>
                </tr>
            </form>
        </table>
    </div> -->


</div>

{% endblock %}