{% extends "main_template.html" %}



{% block title %}
MyList Account Creation Page
{% endblock %}


{% block main %}
<div>

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br> WARNING!!!! <br> DO NOT USE ANY SENSITIVE INFORMATION (ie real name, password, email). <br>
        THIS PROJECT IS STILL IN DEVELOPMENT
    </div>


    <div class="container-fluid p-0 m-0">
        
        <div class="row d-flex justify-content-center">
            <!--Small screen logo-->
            <div class="d-block d-lg-none">
                <div class="border my-3" style="height: 150px;">
                    
                    <div class="p-3 m-3 ">

                    <div>
                         <h3>LOGO PLACEHOLDER</h3>
                         <br>
                    </div>

                    
                </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">

            <!--Large screen logo-->
            <div class=" d-none d-lg-block col-12 col-md-8 px-0 px-md-3" style="max-width: 450px;">

                <div class="border" style="height: 400px;">
                    
                    <div class="p-3 m-3 ">

                    <div>
                         <h3>LOGO PLACEHOLDER</h3>
                         <br>
                    </div>

                    <div>
                        
                    </div>
        
                
                </div>
                </div>
            </div>

            <div class="col-12 col-sm-8" style="max-width: 450px;">

                <div class="border shadow-lg bg-white">
                    
                    <div class="p-3 m-3 ">

                        <form class="row g-0">
                            <p class="border-bottom">Account Creation </p>
                            <div class="col-12">
                              <label for="username" class="form-label" >Username</label>
                              <input type="text" class="form-control" id="username" name="username" autofocus autocomplete="off">
                            </div>
                            <div class="col-12">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="col-12">
                                <label for="password_verification" class="form-label">Password Verification</label>
                                <input type="password" class="form-control" id="password_verification" name="password_verification">
                            </div>
                            <div class="col-12">
                              <label for="email" class="form-label">Email</label>
                              <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="col-12">
                              <label for="email_verification" class="form-label">Email Verification</label>
                              <input type="text" class="form-control" id="email_verification" name="email_verification">
                            </div>
                            
                            <div class="d-grid gap-2 mt-5">
                                <button type="submit" formaction="/register" formmethod="post" class="fw-bold fs-3 btn btn-primary w-100">Create Account</button>
                            </div>

                            
                            <div class="col-12 mt-4">
                                <button type="submit" class="btn btn-light text-secondary" formaction="/login">Already Have An Account</button>
                            </div>
                          </form>
                    
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- <div>
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Password Verification</th>
                <th>Email</th>
                <th>Email Verification</th>
            </tr>
            <form >
                <tr>
                    <td>
                        <input type="text" name="username" placeholder="Username" autocomplete="off">
                    </td>
                    <td>
                        <input type="password" name="password" placeholder="Password" autocomplete="off">
                    </td>
                    <td>
                        <input type="password" name="password_verification" placeholder="Password again" autocomplete="off">
                    </td>
                    <td>
                        <input type="text" name="email" placeholder="Email" autocomplete="off">
                    </td>
                    <td>
                        <input type="text" name="email_verification" placeholder="Email again" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" formaction="/register" formmethod="post" value="Submit">
                        <input type="reset" value="Clear">
                    </td>
                    <td>
                        <a href="/login">Already Have an Account</a>
                    </td>
                </tr>
            </form>
        </table>
    </div> -->
</div>

{% endblock %}